// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


//font
$default-font: "Aleo", sans-serif !default;
$default-font-size: 1.6rem;

//color
$color-grey-dark: #3b3b3b;
$color-grey-dark-2: #555;

$color-grey-light: #b7b7b7;
$color-grey-light-2: #ececec;

$color-white: #fff;

$color-red: #f34949;

$color-yellow: #f1df1a;