.header {

  &__content {
    min-height: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      min-height: 5rem;
    }
  }

  &__logo {
    height: 3rem;
  }
}