.navigation {

  &__list {
    font-size: 1.4rem;
    color: $color-grey-dark;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 5rem;
    }
  }

  &__link {

    &:link,
    &:visited {
      color: $color-grey-dark;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
    }

    &:active,
    &:hover {
      color: $color-red;
      transform: translateY(-.4rem);
    }
  }

}